body {
	max-width: 1300px;
	margin: 0 auto;
	padding:0;
	color:#512804;
	background-color:#F3EFE3;
	font:12px/1.2 Verdana, Arial, Helvetica, sans-serif;
}
h3 {
	color:#584D27;
	text-align:center;
	font:italic bold 150% Arial, Helvetica, sans-serif;
}
h6 {
	color:#CEBEA8;
	font-size:11px;
	margin:0px 0px 6px;
}
ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
a {
	text-decoration:none;
	font-weight:bold;
	color:#756535;
}
a:hover, #menuh li a:hover {
	color:#CC0000;
}
a:visited {
	color:#847564;
}
hr {
	background:url(../images/bg/hr.gif) no-repeat center;
	height:12px;
	border-style:none;
}
.gallery {
	font-size:8pt;
}
.contact {
	color:#F3EFE3;
	font:bold 11px/1 Arial, Helvetica, sans-serif;
	width:1000px;
	margin:0;
	padding:0;
	border:0;
}
/*---------------------------Position!------------------------------------------------------------*/

#topmenu {
	height:25px;
	background:url(../images/bg/bgv.jpg) bottom repeat-x;
}
#hide {
	position:absolute;
	height:20px;
	width:55%;
	top:0px;
	left:0px;
	cursor:nw-resize;
}
#up {
	height:200px;
	background:#8cabc7 url(../images/bg/panno.jpg) right top no-repeat;
	border-bottom:1px solid #e1d9c0;
	border-top:1px solid #e1d9c0;
}
#container {
	width:100%;
	float:left;
	margin-right:-225px;
	background:url(../images/bg/bg.jpg) repeat-x;
}
#container img {
	border:1px solid #BEAE96;
    FILTER: progid:DXImageTransform.Microsoft.Shadow(color='gray', Direction=150, Strength=5);
}

#main {
	margin-right:230px;
}
#contentbg {
	margin-left:225px;
	background:url(../images/bg/bgrv.jpg) no-repeat;
	padding-top:15px;
}
#content {
	background:url(../images/bg/bgr.jpg) repeat-y;
	text-align:justify;
	padding:12px 10px 20px 10px;
}
#content li {
	background: url(../images/bg/bullet.gif) no-repeat;
	margin-bottom:20px;
	padding-left:20px;
	margin-left:10px;
}
#left {
	width:220px;
	float:left;
	background:url(../images/bg/bglv.jpg) no-repeat right top;
	padding-top:15px;
}
#rightbg {
	width:220px;
	float:right;
	background:url(../images/bg/bgrv.jpg) no-repeat;
	padding-top:15px;
}
#rightbg img {
	border:1px solid #BEAE96;
    FILTER: progid:DXImageTransform.Microsoft.Shadow(color='gray', Direction=150, Strength=5);
}
#right {
	background:url(../images/bg/bgr.jpg) repeat-y;
	padding-top:30px;
}
.clear {
	height:10px;
	clear:both;
}
#down {
	background:#29251A url(../images/bg/niz.jpg) no-repeat right top;
	height:180px;
}
#down img {
	border:1px solid #BEAE96;
}
#end {
	border-top:5px inset #999999;
	height:55px;
	background:#29251A;
}
/*---------------------------------Formatting------------------------------------------------------*/
#topmenu li {
	float:right;
	font-size:95%;
	background:url(../images/bg/bullet.gif) no-repeat left 3px;
	padding-left:20px;
	padding-right:5px;
	padding-top:3px;
}
#menu {
	padding-top:30px;
	background:url(../images/bg/bgl.jpg) repeat-y right;
}
#menu li {
	background:url(../images/bg/mbullet.gif) 200px 4px no-repeat;
	text-align:right;
}
#menu li a {
	display:block;
	height:30px;
	border-top:1px solid #e0d7bd;
	padding:2px 25px 5px 0;
}
#menu li a:hover {
	background:url(../images/bg/bgr.jpg) repeat-y left;
	border-top-color:#F3EFE3;
	color:#593D00;
}
#menuh {
	padding:30px 0 40px 0;
	background:url(../images/bg/bgl.jpg) repeat-y right;
}

#menup {
	padding:30px 0 70px;
	background:url(../images/bg/bgl.jpg) repeat-y right;
}
input#pr{
	bottom:40px;
	position:absolute;
	right:5px;
}
input#add_btn{
	bottom:10px;
	position:absolute;
	right:5px; 
}

#menuh li, #menup li {
	text-align:right;
	padding:10px 40px 0 0;
	border-bottom:1px solid #e0d7bd;
}
#menuh, #menup li a {
	color:#593D00;
}
#undermenu {
	text-align:center;
	background:url(../images/bg/bgl.jpg) repeat-y right;
	padding-top:1px;
}
.news {
	padding-left:10px;
	width:200px;
}
.n1 {
	font-size:90%;
    margin-bottom: 0px;
}
.n2 {
	font-size:9px;
	color:#938573;
	font-style:italic;
}
.n3 {
	font-size:10px;
	color:#594E28;
	text-align:justify;
}
#down li, #end li {
	float:left;
	border-right:1px solid #f3fee3;
	width:225px;
	margin:10px 0 5px;
	padding-left:10px;
}
#down li.ri, #end li.ri {
	border:none;
}
#down a, #end a {
	color:#e1d9c0;
}
#end a {
	font-weight: normal;
}
#down a:hover {
	color:#B19978;
}
#end a:hover.penta {
	color:#336699;
}
#end a:hover.ko {
	color:#D75E5E;
}
#end a:hover.yes {
	color:#D92C00;
}
#gerb {
	position:absolute;
	width:150px;
	height:180px;
	background:url(../images/bg/pannogerb.gif) no-repeat;
	top:90px;
	left:15%;
}
/*--------------------------------Headers/Swap Images-------------------------------------------------------*/	
h5.swap {
	height:30px;
	padding:0px;
	margin:0px;
	background-repeat:no-repeat;
}
h5.swap span {
	display:none;
}
h5#photos {
	background-image:url(../images/bg/photos.gif);
}
h5#gazeta {
	background-image:url(../images/bg/gazeta.gif);
}	
h5#hram {
	background-image:url(../images/bg/news_hram.gif);
}
h5#prayer {
	background-image:url(../images/bg/prayer.gif);
}
h5#prayer_all {
	background-image:url(../images/bg/prayer_l.gif);
}
h5#portal {
	background-image:url(../images/bg/portal.gif);
}
h5#banners {
	background-image:url(../images/bg/banners.gif);
}
h5#radio {
	background-image:url(../images/bg/radio.gif);
}
h5#news_eparhy {
	background-image:url(../images/bg/news_eparhy.gif);
}
h5#news_cerkva {
	background-image:url(../images/bg/news_cerkva.gif);
}
h5#news_ko {
	background-image:url(../images/bg/news_ko.gif);
}
h5#news_last {
	background-image:url(../images/bg/news_last.gif);
	margin-top:50px;
	margin-bottom:15px;
}
h5#stat_last {
	background-image:url(../images/bg/stat_last.gif);
	margin-top:50px;
	margin-bottom:15px;
}
h5#sign {
	background-image:url(../images/bg/sign.jpg);
	height:100px;
	background-position:right;
}
h5#signv {
	background-image:url(../images/bg/signv.jpg);
	height:130px;
	background-position:right;
}
h5#titul {
	background-image:url(../images/bg/titul.gif);
	height:60px;
}
/*--------------Tags for content!---------------------------------------------------*/
.imagel, #container img.l, #tinymce img.ll, #tinymce img.l {
	float:left;
	margin:0 20px 10px 0;
}
.imager, #container img.r, #tinymce img.rl, #tinymce img.r {
	float:right;
	margin:0 0 20px 10px;
}
.imagen, .news_lead {
	margin:3px 5px 0 0;
	float:left;
}
.hr, .hr1, .hr2 {
	background:center no-repeat;
	height:12px;
	margin:10px 0 10px 0;
}
.hr {
	background-image:url(../images/bg/hr.gif);
}
.hr1 {
	background-image:url(../images/bg/hr1.gif);
}
.hr2 {
	background-image:url(../images/bg/hr2.gif);
}
.bukva {
	color:#CC0000;
	font:700 300% Times New Roman, Times, serif;
	float:left;
	margin-top:-10px;
	margin-bottom:-10px;
	margin-right:2px;
}
.day {
	font-weight:bold;
	text-align:center;
	color:#584D27;
	margin-top:-25px;
	margin-bottom:30px;
	margin-left:10px;
	margin-right:10px;
	
}
.java {
	float:left;
	width:100%;
	background:url(../images/bg/bgr.jpg) no-repeat;
}
.rss {
	border:2px solid #f3efe3;
	text-align:right;
}
.red {
	color:#CC0000;
}

ul.gal { list-style-type: none; }
ul.gal li { float: left; }

.block { height: 330px; padding-top: 30px; }
